nsy205/src/main/webapp/wsdl/Stocks.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://production"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://production"
	xmlns:intf="http://production" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL 
		created by Apache Axis version: 1.4Built on Apr 22, 2006 (06:55:48 PDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://production"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="getQuantite">
				<complexType />
			</element>
			<element name="getQuantiteResponse">
				<complexType>
					<sequence>
						<element name="getQuantiteReturn" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
			<element name="setQuantite">
				<complexType>
					<sequence>
						<element name="quantite" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
			<element name="setQuantiteResponse">
				<complexType />
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="setQuantiteRequest">
		<wsdl:part element="impl:setQuantite" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getQuantiteRequest">
		<wsdl:part element="impl:getQuantite" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getQuantiteResponse">
		<wsdl:part element="impl:getQuantiteResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setQuantiteResponse">
		<wsdl:part element="impl:setQuantiteResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Stocks">
		<wsdl:operation name="getQuantite">
			<wsdl:input message="impl:getQuantiteRequest" name="getQuantiteRequest">
			</wsdl:input>
			<wsdl:output message="impl:getQuantiteResponse" name="getQuantiteResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setQuantite">
			<wsdl:input message="impl:setQuantiteRequest" name="setQuantiteRequest">
			</wsdl:input>
			<wsdl:output message="impl:setQuantiteResponse" name="setQuantiteResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StocksSoapBinding" type="impl:Stocks">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getQuantite">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getQuantiteRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getQuantiteResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setQuantite">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="setQuantiteRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="setQuantiteResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StocksService">
		<wsdl:port binding="impl:StocksSoapBinding" name="Stocks">
			<wsdlsoap:address location="http://tempuri.org/nsy205/services/Stocks" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>